<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Venta de Viajes</title>
</head>

<body>

<div class="container">

  <div class="row mt-4 mb-4">

    <div class="col-1 mt-5 text-center">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="#">Inicio</a>
        </li>
      </ul>
    </div>

    <div class="col-2 mt-5 text-center">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="#">Historial</a>
        </li>
      </ul>
    </div>

    <div class="col-2 mt-5 text-center">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="#">Mis vuelos</a>
        </li>
      </ul>
    </div>


    <div class="col-4 mt-5">
      <input class="form-control me-2 " type="search" placeholder="Buscar destino" aria-label="Search">
    </div>

    <div class=" col-3 mt-5">
      <button type="button ml-3" class="btn btn-primary">Buscar</button>
      <button type="button mr-3" class="btn btn-dark">Cerrar Sesión</button>
    </div>

  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>



  <div class="card text-center mt-2 border-white">
    <div class="card-body">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8"><img class="img-fluid" th:src="@{/img/tokio.jpeg}" alt=""></div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 mt-2 ml-2 mb-4">
      <div class="card text-center border-white">
        <div class="card-body">
          <h5 class="card-title mt-3">Lima - Bogota <span class="text-danger"><b>($120.00)</b></span></h5>
          <p class="text-success"><b>Star Peru - 2I</b> </p>
          <p>Definitivamente el turismo en Bogotá en más que Monserrate y la Candelaria, hay muchas excursiones por
            senderos
            mágicos que puedes realizar. Estas actividades también se conocen como: senderismo, excursionismo,
            caminata, montañismo,
            hiking o trekking.</p>
          <button class="btn btn-success btn-lg btn-block">Comprar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>